body {
	background-color: #f1f0e9;	
	margin: 0px 0px 0px 0px;
	color: #6e4800;
	
}

h1 {
	font-family: "Courier New",Courier, monospace;
	background-color: #c2ec92;
	font-size: 4em;
	font-weight: lighter;
	min-width: 500px;
	padding: 20px 0px 20px 10px;
	margin: 0px 0px 0px 0px;
}

h2 {
	background-color: #e5decd;
	border-radius: 25px;
	margin: 0px 20px 0px 20px;
	text-align: center;
}

ul#topmenu {
	text-align: center;
}

ul#topmenu li {
	display: inline;
	padding: 10px 10px 10px 10px;
}
a {
	text-decoration: none;
	color: #6e4800;
	font-family: "Franklin Gothic Book", Arial, sans-serif;
}
p {
 	margin: 0px 20px 0px 20px;
	font-family: "Franklin Gothic Book", Arial, sans-serif;
}